#foreach($player in $ctx.result.players)
    #if($ctx.identity.username != $player.userId)
        #foreach($card in $player.hand)
            #set($card.characterType = "Flipped")
            #set($card.bodyPart = "Flipped")
        #end
    #end
#end
$utils.toJson($ctx.result)